<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:context = "http://www.springframework.org/schema/context"
	   xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd"
>
<context:annotation-config />
<bean id="memberRepository" class="Repository.Member.MemberRepository"/> 
<bean id="memberJoinService" class="Serviec.Member.MemberJoinService"/> 
<bean id="memberRegMailService" class="Serviec.Member.MemberRegMailService"/> 
<bean id="memberOkService" class="Serviec.Member.MemberOkService"/> 
<bean id="emailAllService" class="Serviec.Member.EmailAllService"/> 
<bean id="memberLoginService" class="Serviec.Member.MemberLoginService"/> 
</beans>